html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
} 

.logo {
    margin-right: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: #949494;
}

a:active {
    color: #949494;
}

.text-me {
   margin-bottom: 0;
   text-align: center;
   margin-top: 15px; 
}

.btn-plan {
    background-color:#4aea37;
    border-radius: 8px;
    border: none;
}

.btn-modal {
    display: flex;
    justify-content: center;
}

.card-img {
    border: none;
    background-color: blue;
}

.hero-album {
    margin-top: 20px;
    margin-bottom: 15px;
}

.card {
    padding: 0px !important;
}

.about-heading {
    text-align: center;
    padding-bottom: 20px;
}

.projects {
    background: #F5F4FA;
    padding-top: 40px;
    padding-bottom: 70px;
}

.card-project {
    border: none;
}

.album-items {
    padding: 0 !important;
}

.about-comand {
    padding-bottom: 30px;
    padding-top: 11px;
}

.news-text {
    padding-top: 25px;
    padding-bottom: 15px;
}

.news-section {
    padding-bottom: 80px;
    padding-top: 15px;
}

.photogalery-one {
    padding-top: 40px;
}

.nav-galery {
    padding-bottom: 30px;
}

.galery-heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 29px;
}

.photo-text {
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
}

.photo-heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 31px;
}

.news-heading {
    padding-top: 35px;
    padding-bottom: 8px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.1rem;
    background-color: black;
}

.gallery img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.gallery a:hover img {
    opacity: 0.9;
    cursor: pointer;
}

.gallery a:active img {
    opacity: 0.8;
    cursor: pointer;
}

.text {
    font-style: normal;
}

.hidden {
    display: none;
}

.read-more-button {
    display: block;
    color: black;
    cursor: pointer;
}

.footer-link {
    margin-bottom: 16px !important;
}

.card-link:hover {
    color: #808080;
}

.card-link:active {
    color: #808080;
}

.video-link {
    position: relative;
    display: inline-block;
}

.video-link:hover .hover-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.video-link:hover .hover-text {
    opacity: 1;
}

.video-link img {
    width: 100%;
    height: auto;
}

.video-text {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4d3bfe;
    border-radius: 1em;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    z-index: 2;
}

.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
    z-index: 0;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.video-one {
    padding-top: 76px;
}

.video-heading {
    font-size: 29px;
    text-align: center;
    margin-bottom: 8px;
}

.video-paragaph {
    text-align: center;
    margin-bottom: 27px;
    font-size: 17px;
}

.tex-container {
    padding-top: 160px;
}

.btn-primary:hover{
    transition: 370ms;
    transform: scale(1.1);
}

.obval-section {
    padding-top: 12px;
}

.obval-heading {
    padding-left: 10px;
}

.obval-text {
    padding-left: 10px;
    color:#808080;
}

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.obval-nav {
    font-size: 17px;
    padding-left: 8px;
    color:#808080;
}

.news-img-box {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .obval-img {
        width: 390px;
    }
}

@media (min-width: 768px) {
    .obval-img {
        width: 1150px;
    }
}

.obval-img {
    margin-bottom: 20px;
}

.line {
    border-top: 1px solid gray;
    margin-top: 27px;
    margin-bottom: 27px;
}

.obval-paragraph {
    margin: 0 auto;
    width: 370px;
}










