html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
} 

.logo {
    margin-right: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: #949494;
}

.text-me {
   text-align: center;
   margin-top: 15px; 
}

.btn-plan {
    background-color:#4aea37;
    border-radius: 8px;
    border: none;
}

.btn-modal {
    display: flex;
    justify-content: center;
}

.card-img {
    border: none;
    background-color: blue;
}

.hero-album {
    margin-top: 20px;
    margin-bottom: 15px;
}

.card {
    padding: 0px !important;
}

.about-heading {
    text-align: center;
    padding-bottom: 20px;
}

.projects {
    background: #F5F4FA;
    padding-top: 40px;
    padding-bottom: 70px;
}

.card-project {
    border: none;
}

.album-items {
    padding: 0 !important;
}

.about-comand {
    padding-bottom: 30px;
    padding-top: 11px;
}

.news-text {
    padding-top: 25px;
    padding-bottom: 15px;
}

.news-section {
    padding-bottom: 80px;
    padding-top: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 68px;
    margin: -10px;
}

.gallery img {
    width: calc(33.33% - 20px);
}

@media screen and (min-width: 768px) {
    .gallery img {
        width: calc(16.666% - 20px);
        /* Відступ для зазорів між елементами */
    }
}

.photogalery {
    padding-top: 40px;
}

.nav-galery {
    padding-bottom: 30px;
}

.galery-heading {
    text-align: center;
    margin-bottom: 10px;
}

.photo-text {
    text-align: center;
    margin-bottom: 10px;
}

.img-galery:hover {
    cursor: pointer;
    background-color: black;
}

.photo-heading {
    text-align: center;
    margin-bottom: 25px;

}



